* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(180deg, rgba(28,144,127,1) 0%, rgba(35,87,157,1) 100%);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 100vh;
    color: #eeeeee;
}

.location, 
.temperature {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 30vh;
    width: 50%;
}

.location-city,
.temperature-description {
  font-size: 40px;
}

.temperature {
  flex-direction: column;
}

.temperature-section {
  display: flex;
  align-items: center;
}

.temperature-section span {
  margin: 10px;
  font-size: 30px;
  cursor: pointer;
}

.temperature-section h2 {
  font-size: 60px;
}